
Dell XPS 13 9365/OpenCore-0.9.5-RELEASE/Utilities/macrecovery/com.apple.recovery.boot/BaseSystem.chunklist
Dell XPS 13 9365/OpenCore-0.9.5-RELEASE/Utilities/macrecovery/com.apple.recovery.boot/BaseSystem.dmg
Dell XPS 13 9365/Tools/OpenCore-0.9.5-RELEASE/Utilities/macrecovery/com.apple.recovery.boot/BaseSystem.dmg
Dell XPS 13 9365/Tools/OpenCore-0.9.5-RELEASE/Utilities/macrecovery/com.apple.recovery.boot/BaseSystem.chunklist
.obsidian/workspace.json
